@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --background-hero-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-body-color: #ffffff;
  --background-team-color: #f5f4fa;
  --font-size-main: 14px;
  --icon-color: #afb1b8;
  --background-client-color: #e5e5e5;
  --text-card-color: #eeeeee;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-body-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-body-color);
}

.section .no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.img__no-gap {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header > .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  display: inline-block;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  padding: 16px 0;
}

@media screen and (max-width: 1199px) {
  .header .header__logo {
    margin-right: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer .header__logo {
    padding: 0 0 20px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
    font-size: 26px;
  }
}

.header__logo--dark {
  color: #000000;
}

.footer__logo--white {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav__list .nav__item + .nav__item {
    margin-left: 50px;
  }
}

.nav__link {
  position: relative;
  display: none;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .nav__link {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
  }
}

.nav__link--active {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link.nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.contacts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon--smartphone,
.contacts__link:focus .contacts__icon--smartphone {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    margin-right: 10px;
    width: 12px;
    height: 16px;
  }
}

.contacts__icon--envelope {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon--envelope,
.contacts__link:focus .contacts__icon--envelope {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__icon--envelope {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child .link {
    padding-top: 21px;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:last-child .link {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

.section.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__sm.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__sm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-hero-color);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__sm@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__sm@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__md.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__md.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__md@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__md@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__lg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__lg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../images/hw8/header-img__lg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hw8/header-img__lg@2x.jpg");
  }
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.features-icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-team-color);
  border-radius: 4px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-text {
  color: var(--primary-text-color);
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--hero-title-color);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.section.team {
  background-color: var(--background-team-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  padding: 30px 10px 24px 10px;
}

@media screen and (min-width: 1200px) {
  .social {
    padding: 30px 10px 30px 10px;
  }
}

.social-nav {
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-photo {
  display: block;
  max-width: 100%;
  height: 460px;
}

@media screen and (min-width: 1200px) {
  .team-photo {
    width: 100%;
    height: 260px;
  }
}

.team-item {
  background: var(--background-body-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

.clients__item {
  width: 210px;
  -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
      flex-basis: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (max-width: 1199px) {
  .clients__item:not(:last-child) :not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

.clients__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);
  outline: transparent;
  -webkit-transition-property: border, color;
  transition-property: border, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.footer {
  background-color: var(--background-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.contscts-footer {
  font-style: inherit;
  color: #fff;
}

.contscts-footer__adress {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contscts-footer__adress {
    margin-bottom: 9px;
  }
}

.contacts-footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    width: 570px;
  }
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 0;
  }
}

.form-footer__label {
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form-footer__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 12px;
  }
}

.form-footer__input {
  height: 50px;
  max-width: 450px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  background-color: inherit;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:hover, .form-footer__input:focus {
  border: 1px solid var(--accent-color);
}

@media screen and (min-width: 480px) {
  .form-footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1119px) {
  .form-footer__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-footer__icon {
  fill: #fff;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.section-conteiner-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container-right-text {
  display: block;
  color: var(--hero-title-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--hero-title-color);
  background-color: var(--background-hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover, .footer-input:focus {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  outline: 0;
  border-color: var(--hero-title-color);
}

.footer-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma-button .footer-button-text {
  color: var(--hero-title-color);
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1.9;
  margin-right: 10px;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-mail {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.form-footer__label {
  margin-right: 12px;
}

.form-footer__input {
  height: 50px;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  background-color: inherit;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .form-footer__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__input {
    width: 358px;
  }
}

.form-footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1119px) {
  .form-footer__btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-footer__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery__item {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__box {
  display: inline-block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__box:hover, .gallery__box:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__blok {
  position: relative;
  overflow: hidden;
}

.gallery__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.gallery__card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: var(--hero-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.gallery__box:hover .gallery__card,
.gallery__box:focus .gallery__card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery__title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.gallery__title .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gallery__name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.gallery__description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--text-card-color);
  border-right: 1px solid var(--text-card-color);
  border-left: 1px solid var(--text-card-color);
}

.button-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover, .button-hero:focus {
  background-color: #188ce8;
}

.model-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--background-body-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover, .model-btn:focus {
  fill: var(--accent-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: var(--hero-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover, .button-close:focus {
  color: var(--accent-color);
}

.submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 16px;
  min-width: 200px;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--background-body-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba 0, 0, 0, 0.15;
          box-shadow: 0px 4px 4px rgba 0, 0, 0, 0.15;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-forma-button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-forma-button:hover, .footer-forma-button:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.footer-btn {
  display: inline-block;
  fill: var(--hero-title-color);
}

@media screen and (min-width: 768px) {
  .filtrs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filtrs {
    margin-bottom: 50px;
  }
}

.button-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}

.button-menu .icon-menu {
  display: none;
}

.button-menu.is-open .icon-menu {
  display: block;
}

.button-menu.is-open .icon-cross {
  display: none;
}

.btn {
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border: none;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 480px) {
  .btn {
    width: 200px;
    height: 50px;
  }
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filters__list {
    margin-bottom: 50px;
  }
}

.filtrs__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filtrs__item:last-child {
  margin-right: 0;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filtrs__btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;
  color: var(--title-text-color);
  background-color: var(--background-team-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtrs__btn:hover, .filtrs__btn:focus {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filtrs__current {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--background-body-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: var(--background-body-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-title-color);
}

.social-icon {
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--hero-title-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 480px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 89px;
    padding-left: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 0;
    padding-right: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .footer-social__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__header-accent {
  color: #000000;
}

.logo__header-size {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo-footer {
  color: var(--hero-title-color);
}

.footer-logo-margin {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .model-wrapper {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.model-wrapper {
  padding: 40px;
  background-color: var(--background-body-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

/*---------------------Форма модального окна--------------------------*/
.form-group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

textarea {
  resize: none;
}

textarea-textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 14px 14px 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form-input:hover, .form-input:focus {
  border-color: var(--accent-color);
}

.form-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form-input-container:focus-within {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
}

.form-icon:hover, .form-icon:focus {
  fill: var(--accent-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 17px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
}

.form-comments:hover, .form-comments:focus {
  border-color: var(--accent-color);
}

.form-comments::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comments:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comments::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comments::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-polisy-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--second-text-color);
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 2px solid #000000;
  outline-offset: -2px;
  cursor: pointer;
}

.checkbox:checked:focus + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.checkbox:checked + .custom-checkbox-icon {
  opacity: 1;
}

.form-polisy-decs {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.visually-hidden-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox-icon {
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--background-body-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.checkbox-label-link {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 48px 15px 48px 40px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-button--close,
.menu-button--open {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button--close {
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button--close:hover, .menu-button--close:focus {
  fill: #2196f3;
}

.menu-button--open {
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button--open:hover, .menu-button--open:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button--open {
    display: none;
  }
}

.mobile-menu__nav--item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu__nav--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__nav--link.nav__link--active {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts--tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .mobile-menu__contacts--tel {
    font-size: calc(20px + 1vw);
  }
}

.mobile-menu__contacts--email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__socials--item {
  position: relative;
}

.mobile-menu__socials--item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__socials--link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-menu__socials--link {
    font-size: 18px;
  }
}

.mobile-menu__socials--item:not(:last-child) .mobile-menu__socials--link::after {
  background-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials--link::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 22px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */