.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0 auto;
  margin-right: 0 auto;

  @include mq(mobile) {
    width: 480px;
  }

  @include mq(tablet) {
    width: 768px;
  }

  @include mq(desktop) {
    width: 1200px;
  }
  /* outline: 2px solid teal; */
}
